---
layout: home
hide_search: true
---

<div class="jumbotron">
    <div class='text-center'>
        <h1>{{ site.title }}</h1>

        <p class="lead">A Jargonbuster for people who work with techies.</p>

    </div>

    <div class='row'>
        <div class='col d-flex flex-row justify-content-center'>
            {% include search.html %}
        </div>
    </div>
</div>

<div class="container">
    <h4 class='text-center'>Recently added</h4>
    <div class='row'>
        <div class='col'>
            <div class='d-flex flex-row justify-content-around flex-wrap h4'>
            {% for item in site.topic limit: 15 %}
                <a class='badge badge-primary' href="{{ item.url }}" style='margin: 5px;'>{{ item.title }}</a>
            {% endfor %}
            </div>
        </div>
    </div>
</div>