#site-form {
    position: relative;
}

#results-container {
    position: absolute;
    top: 100%;
    padding-left: 28px;
    padding-right: 10px;
    padding-bottom: 0px;
    background: white;
    z-index: 1;
}

.header-nav {
    height: 10px;
}

.body-content {
    min-height: 400px;
}

.footer-github-image {
    height: 30px;
}

.footer-github {
    background: white;
    border-radius: 50%;
}

hr {
    margin-bottom: 0;
}

.jumbotron {
    margin-bottom: 1rem;
}

.card-body h1 {
    margin-bottom: 0;
}

.side-nav {
    flex-flow: column nowrap;
}

.side-nav-active {
    padding-left: 4px;
}